# Project
# 如果在同一机器上使用 docker-compose 部署多个环境，请设置不同的 COMPOSE_PROJECT_NAME
COMPOSE_PROJECT_NAME=apple

# server port mapping on host
APP_PORT=9000
APP_SERVER_SECRET="1n~V5z-J!.)Q<XRGe1t.Kr|,6*k}14{"

# database (don't quote SQLite file path)
APP_DB_NAME=apple-store-monitor
APP_DB_USER=user
APP_DB_PASSWD=********
# APP_DB_HOST is only required if not using docker-compose
APP_DB_HOST=192.168.5.80
APP_DB_PORT=5432

## debug.
## uncomment to echo SQL statements
# APP_DEBUG_ECHO_SQL=1
## uncomment to enable debugging (any non-empty value counts)
# APP_DEBUG=on
APP_LOG_LEVEL=INFO

# APP Defaults (not required)
APP_DEFAULT_PAGE_LIMIT=20

# PushDeer
# https://api2.pushdeer.com/message/push?pushkey=<key>&text=要发送的内容
# https://api2.pushdeer.com/message/push?pushkey=<key>&text=标题&desp=<markdown>&type=markdown
PUSHDEER_KEY=*****************************************
PUSHDEER_URL=https://api2.pushdeer.com/message/push
